.conway-game__game-grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    margin-top: 20px;
}

.cell {
    display: inline-block;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
}

.cell:hover {
    background-color: cadetblue;
}

.dead {
    background-color: white;
}

.alive {
    background-color: black;
}